In [ ]:
!pip install sqlalchemy
!pip install psycopg2
import csv
import pandas as pd

In [ ]:
from sqlalchemy import create_engine
engine=create_engine('postgresql://munyole@localhost:5432/moodle')
engine

In [ ]:
#form connection
%load_ext sql
%sql postgresql://munyole:123456@localhost/moodle

# Task 1

### Finding total number of tables in the database

In [ ]:
#find number of tables in the database
%sql SELECT COUNT(*) AS TOTAL FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'

### Finding total number of records in each table

In [ ]:
#put MIT tables in a list
mit_tables=['mdl_logstore_standard_log','mdl_context','mdl_user','mdl_course','mdl_modules','mdl_course_modules','mdl_course_modules_completion','mdl_grade_items'
       ,'mdl_grade_grades','mdl_grade_categories','mdl_grade_items_history','mdl_grade_categories_history','mdl_forum','mdl_forum_discussions','mdl_forum_posts']

In [ ]:
mit_tables

In [ ]:
def count_records(table_name):
    total = %sql SELECT COUNT(*) as {table_name} FROM {table_name}  
    return total

In [ ]:
for table in mit_tables:
    print(count_records(table))

### Number of quiz submissions by hour of day

In [ ]:
%sql SELECT COUNT(*) AS number, EXTRACT(HOUR FROM to_timestamp(timemodified)) AS hour_of_day FROM mdl_quiz GROUP BY EXTRACT(HOUR FROM to_timestamp(timemodified));

### Finding Monthly usage time of learners who have confirmed and are not deleted

In [ ]:
%sql SELECT COUNT(lastaccess - firstaccess) AS usagetime, EXTRACT (MONTH FROM to_timestamp(firstaccess)) AS month FROM mdl_user WHERE confirmed = 1 AND deleted = 0 GROUP BY EXTRACT (MONTH FROM to_timestamp(firstaccess))

### Finding the count of log events per user for the following verbs

In [ ]:
actions=['loggedin', 'viewed', 'started','submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered', 'attempted', 'abandoned']

In [ ]:
actions

In [ ]:
def action_number(action_name):
    action_total = %sql SELECT COUNT(*) as {action_name} FROM mdl_logstore_standard_log WHERE action='{action_name}'; 
    return action_total

In [ ]:
for action in actions:
    print(action_number(action))

In [ ]:
# def actions_(verb_):
#     results = %sql SELECT userid, COUNT(*) as {verb_} FROM mdl_logstore_standard_log GROUP BY userid;
#     return results

In [ ]:
# for actions in actions:
#     print(actions_(action))

### A class to pull pull Overall grade of learners and Number of forum posts

In [ ]:
class DbDetails:
    def grades(self):
        %sql data << SELECT userid, finalgrade FROM mdl_grade_grades;
        return data
    def forum_posts(self):
        %sql posts << SELECT COUNT(*) FROM mdl_forum_posts;
        return posts

In [ ]:
overrall_grade = DbDetails().grades()

In [ ]:
print(overrall_grade)

In [ ]:
number_of_forum_posts=DbDetails().forum_posts()

In [ ]:
print(number_of_forum_posts)

# Task 2

In [ ]:
class Etl:
    #computing login counts
    def logins(self):
        login_df=pd.read_sql("SELECT userid, COUNT(action) as login_count FROM mdl_logstore_standard_log WHERE action='loggedin' GROUP BY userid",engine)
        return login_df
   
    #computing activity counts
    def activity_counts(self):
        activity_df=pd.read_sql("SELECT userid, COUNT(action) as activity_count FROM mdl_logstore_standard_log GROUP BY userid",engine)
        return activity_df
    #computing dedication time
    def dedication_time(self):
        log_df = pd.read_sql("select * from mdl_logstore_standard_log", engine)
        user_id =  log_df.userid.unique()
        d_times = {}
        for user in user_id:
            log_user = log_df[log_df.userid == user].sort_values('timecreated')
            d_time = 0 
            isLoggedIn = 0
            loggedIn_timecreated = 0

            for i in range(len(log_user)): 
                row = log_user.iloc[i,]

                row_next = log_user.iloc[i+1,] if i+1 < len(log_user) else row

                if(row.action == "loggedin"): 
                    isLoggedIn = 1
                    loggedIn_timecreated = row.timecreated
                if( (i+1 == len(log_user)) | ( (row_next.action == "loggedin") & (isLoggedIn == 1) ) ):
                    d_time += row.timecreated - loggedIn_timecreated
                    isLoggedIn = 0
            d_times[user] = d_time  
        dedication_time_df = pd.DataFrame({'userid':list(d_times.keys()),
                                          'dedication_time':list(d_times.values())})
        return dedication_time_df

In [38]:
#dedication time
dedication_count=Etl().dedication_time()
dedication_count

      userid  dedication_time
0        135         11659241
1        124         13459029
2          2         12283615
3         80         12907906
4         40         12429405
...      ...              ...
1044    1052       1563801728
1045    1051       1563801728
1046    1049       1563801728
1047       1               20
1048       4       1548494441

[1049 rows x 2 columns]

In [ ]:
#login count
login_count = Etl().logins()
login_count

In [32]:
#sort in descending order
login_sort=login_count.sort_values('login_count',ascending=False, inplace=False)
login_sort

     userid  login_count
1         2          169
189     246          113
2         3          107
280     369          100
126     165           91
..      ...          ...
409     603            1
412     609            1
414     612            1
415     614            1
599    1048            1

[600 rows x 2 columns]

In [ ]:
#activity count
activity_count=Etl().activity_counts()
activity_count.to_csv("actitivy_count.csv")

In [ ]:
#sort in descending order

activity_sort=activity_count.sort_values('activity_count',ascending=False, inplace=False)
activity_sort

## Top percentages of activity count

In [ ]:
#top 1%
n = 1
activity_sort.head(int(len(activity_sort)*(n/100)))

In [ ]:
#top 25 percent
n = 25
activity_sort.head(int(len(activity_sort)*(n/100)))

In [ ]:
#top 50 percent
n = 50
activity_sort.head(int(len(activity_sort)*(n/100)))

## Top percentage of Login count

In [34]:
#top 1%
n = 1
login_sort.head(int(len(login_sort)*(n/100)))

     userid  login_count
1         2          169
189     246          113
2         3          107
280     369          100
126     165           91
227     290           73

In [35]:
#top 25 percent
n = 25
login_sort.head(int(len(login_sort)*(n/100)))

     userid  login_count
1         2          169
189     246          113
2         3          107
280     369          100
126     165           91
..      ...          ...
334     445            7
51       77            7
267     348            7
207     267            7
224     287            7

[150 rows x 2 columns]

In [36]:
#top 50 percent
n = 50
login_sort.head(int(len(login_sort)*(n/100)))

     userid  login_count
1         2          169
189     246          113
2         3          107
280     369          100
126     165           91
..      ...          ...
240     305            3
244     309            3
349     475            2
370     522            2
368     517            2

[300 rows x 2 columns]